<!doctype html>
<html lang="en" ng-app="AngularSpringApp">
<head>
    <meta charset="utf-8"/>
    <title>Cash Register</title>
    <link rel="stylesheet" href="resources/css/app.css"/>
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div id="wrapper">
    <form name="form" ng-controller="CashRegisterController">
        <fieldset>
            <div>
                Enter the number of pennies, nickels, dimes, quarters, dollars, fives, tens and twenties to make up the amount paid:
                <br/>
                <br/>
                <input type="number" ng-model="form.cntPennies" id="cntPennies" placeholder="Enter number of pennies"/> <br/><br/>
                <input type="number" ng-model="form.cntNickels" id="cntNickels" placeholder="Enter number of nickels"/> <br/><br/>
                <input type="number" ng-model="form.cntDimes" id="cntDimes" placeholder="Enter number of dimes"/> <br/><br/>
                <input type="number" ng-model="form.cntQuarters" id="cntQuarters" placeholder="Enter number of quarters"/> <br/><br/>
                <input type="number" ng-model="form.cntDollars" id="cntDollars" placeholder="Enter number of dollars"/> <br/><br/>
                <input type="number" ng-model="form.cntFives" id="cntFives" placeholder="Enter number of fives"/> <br/><br/>
                <input type="number" ng-model="form.cntTens" id="cntTens" placeholder="Enter number of tens"/> <br/><br/>
                <input type="number" ng-model="form.cntTwenties" id="cntTwenties" placeholder="Enter number of twenties"/> <br/><br/>
                <br/>
                Enter the price of the item
                <br/>
                <input type="money" ng-model="form.price" id="price" placeholder="Enter product price"/> <br/><br/>
            </div>
            <div>
                <button ng-disabled="!form.$valid" ng-click="submitForm()">Submit</button>
            </div>
        </fieldset>
        <div ng-show="showResult">
            {{error}}
            <br/>
            <b>Your change:</b>
            <br/>
            <br/>
            Pennies: {{cntPennies}} <br/>
            Nickels: {{cntNickels}} <br/>
            Dimes: {{cntDimes}} <br/>
            Quarters: {{cntQuarters}} <br/>
            Dollars: {{cntDollars}} <br/>
            Fives: {{cntFives}} <br/>
            Tens: {{cntTens}} <br/>
            Twenties: {{cntTwenties}} <br/>
            <br/>
            Total Change: ${{total}}

        </div>
    </form>

</div>

<script src="resources/js/lib/angular/angular.js"></script>
<script src="resources/js/app.js"></script>
<script src="resources/js/services.js"></script>
<script src="resources/js/controllers/CashRegisterController.js"></script>
<script src="resources/js/filters.js"></script>
<script src="resources/js/directives.js"></script>
</body>
</html>
